 <div class="infoProd">
            <h1>Listado de Productos con Handlebars</h1>
            <div class="detallePro2">
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Categoria</th>
                            <th>Descripcion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.category}}</td>
                            <td>{{this.description}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>