<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ingreso de Productos</title>
    
</head>
<body>
    
    <script>
        const socket = io(); // Conectar al servidor WebSocket

        // Manejar el evento de formulario y emitir datos al servidor
        document.getElementById('productForm').addEventListener('submit', (e) => {
            e.preventDefault();

            // Recopilar datos del formulario
            const formData = new FormData(e.target);
            const productData = {};

            formData.forEach((value, key) => {
                productData[key] = value;
            });
            console.log('Formulario enviado:', productData)

            // Emitir un evento de WebSocket para enviar los datos del producto
            socket.emit('addProduct', productData);

            // Limpiar el formulario
            e.target.reset();
        });

    </script>
</body>

</html>