<div class="infoProd">
    <h1>Productos con Handlebars</h1>
    <div class="detalleProd">
        <div class="product-container">
            {{#each products}}
            <div class="product">
                <h2>{{this.description}}</h2>
                <p>Precio: ${{this.price}}</p>
                <a href="/api/products/{{this._id}}">Ver Detalle</a>
            </div>
            {{/each}}
        </div>
    </div>

    <footer>
        <div class="pagina">
            <a class="icono scale" target="_blank" href="http://https://www.instagram.com/">
                <img class="pagina1" src="../img/instagram1.png">
            </a>
            <a class="icono scale" target="_blank" href="http://https://www.google.com/intl/es-419/gmail/about/">
                <img class="pagina1" src="../img/correo.png"> </a>
            <a class="icono scale" target="_blank" href="http://facebook.com">
                <img class="pagina1" src="../img/facebook1.png"> </a>
            <a class="icono scale" target="_blank" href="http://whatsaap.com">
                <img class="pagina1" src="../img/whatsaap2.png"> </a>
        </div>

        <div class="texto">
            <p>&copy;Todos los derechos reservados</p>
        </div>

    </footer>
</div>