body {
    background-color:rgb(183, 238, 248);
}

/* Estilos para el contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    padding: 50px;
    
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Espacio entre los productos */
}

.container2 {
    display: flex;
}
.infoProd{
    border: 2px solid white;
    width: 48%;
}

.detallePro {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.detallePro th,
.detallePro td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: left;
}

.detallePro th {
    background-color: #f8f9fa;
    color: #495057;
}

.detallePro tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.detallePro tr:hover {
    background-color: #e2e6ea;
}

.product-details {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.product-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 16px;
    margin: 5px 0;
}

/* Estilos para el formulario y su contenido */
#productForm {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Ancho del formulario */
}

/* Estilos para los elementos del formulario */
label, input, button {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.pro {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    padding: 50px;
  
  }

